# -*- mode: snippet -*-
# name: build.gradle for java
# key: java
# --
apply plugin: 'java'
apply plugin: 'application'
compileJava.options.encoding = 'utf-8'

jar {
  manifest {
    attributes 'Main-Class': 'Main'
  }
}

apply plugin: 'application'
mainClassName = 'Main'
applicationDefaultJvmArgs = ["-ea"]
